service: email-service

provider:
  name: aws
  runtime: python3.9

functions:
  sendEmail:
    handler: handler.send_email
    events:
      - http:
          path: send-email
          method: post
          cors: true
